URL=https://www.immobilienscout24.de/Suche/S-T/Wohnung-Miete/Berlin/Berlin/-/2,50-/60,00-/EURO--1000,00
FROM=fromemail@example.com
TO=toemail@example.com
#SENDGRID_API_KEY=abcd
#either 
SMTP_MAIL_HOST=smtp.anyhost.com
SMTP_MAIL_PORT=555
SMTP_MAIL_USER=mailuser@anyhost.com
SMTP_MAIL_PASS=password
SMTP_MAIL_USER_TO=myusermail@gmail.com

